*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 37.5em) {
      //600px
      @content;
    }
  }
  @if $breakpoint == tab-port {
    @media (max-width: 56.25em) {
      //900px
      @content;
    }
  }
  @if $breakpoint == tab-land {
    @media (max-width: 75em) {
      //1200px
      @content;
    }
  }
  @if $breakpoint == big-desktop {
    @media (min-width: 112.5em) {
      //1800px
      @content;
    }
  }
}

html {
  // Defines what 1rem is
  /* root font size is 16px so 62.5% is 10px */
  font-size: 62.5%;

  @include respond(big-desktop) {
    font-size: 75%; // 12px
  }
  @include respond(tab-land) {
    font-size: 56.25%; //9px
  }
  @include respond(tab-port) {
    font-size: 50%; //8px
  }
}

body {
  box-sizing: border-box;
  padding: 3rem;
  background-color: #f2f2f2;

  @include respond(tab-port) {
    padding: 0;
  }
}
